<ion-view title="Assine" id="assine" class="bg-dark" >
  <ion-content padding="true" class="has-header" >

    <!--<a class="button button-full button-default" ui-sref="assine" ng-click="assinar()">
        Conta Premium <br>
        Assinatura Mensal R$ 29,90
        <br>
    </a>-->
    <div >
				<ul class="pricing p-red">
					<li>
						<big>Premium</big>
					</li>
					<li>Senhas Ilimitadas</li>
					<!--<li>Color Customization</li>
					<li>HTML5 & CSS3</li>
					<li>Styled elements</li>-->
					<li>
						<h3>R$ 29,90</h3>
						<span>Por Mês</span>
					</li>
					<li>
						<button  ng-click="assinar()" >Assinar</button>
					</li>
				</ul>
		</div>
  </ion-content>
</ion-view>
