<ion-view   title="{{tituloPagina}}" class="bg-dark" id="page3"  >
  <!--<ion-content padding="false" class="has-header">-->
  <ion-content  padding="true" class="has-header"     >
    <ion-scroll delegate-handle="taskScroll" direction="y" ng-show="showContent == true" >
    <div ng-show="showContent==true">
        <!--inicio div estabelecimento-->
      <div class="estabelecimento" ng-if="datauser.role==2"  overflow-scroll="true" ng-show="conectDiv == true">
        <br>

        <label class="item bg-black item-input item-select" ng-show="datauser.categoria == 1">
          <div class="input-label bg-black">
            Mesa p/ quantas pessoas?
          </div>
          <select ng-model="qtdPessoas"   name="qtdPessoas" id="qtdPessoas" >

            <option value="1" >1</option>
            <option value="2" >2</option>
            <option value="3" >3</option>
            <option value="4" >4</option>
            <option value="5" >5</option>
            <option value="6" >6</option>
            <option value="7" >7</option>
            <option value="8" >8</option>
            <option value="9" >9</option>
            <option value="10" >10</option>
            <option value="11" >11</option>
            <option value="12" >12</option>
            <option value="13" >13</option>
            <option value="14" >14</option>
            <option value="15" >15</option>
            <option value="16" >16</option>
            <option value="17" >17</option>
            <option value="18" >18</option>
            <option value="19" >19</option>
            <option value="20" >20</option>
            <option value="21" >21</option>
            <option value="22" >22</option>
            <option value="23" >23</option>
            <option value="24" >24</option>
            <option value="25" >25</option>
            <option value="26" >26</option>
            <option value="27" >27</option>
            <option value="28" >28</option>
            <option value="29" >29</option>
            <option value="30" >30</option>
            <option value="31" >31</option>
            <option value="32" >32</option>
            <option value="33" >33</option>
            <option value="34" >34</option>
            <option value="35" >35</option>
            <option value="36" >36</option>
            <option value="37" >37</option>
            <option value="38" >38</option>
            <option value="39" >39</option>
            <option value="40" >40</option>
            <option value="41" >41</option>
            <option value="42" >42</option>
            <option value="43" >43</option>
            <option value="44" >44</option>
            <option value="45" >45</option>
            <option value="46" >46</option>
            <option value="47" >47</option>
            <option value="48" >48</option>
            <option value="49" >49</option>
            <option value="50" >50</option>
          </select>
        </label>
        <div class="item-assertive" ng-repeat="item  in items | filter:filtro2 ">

          <div class="" ng-repeat="(key2, value2)  in item ">

            <button  ng-class="value2.nome == 1 ? 'button button-full icon-right bg-orange ion-person-stalker' : 'button button-full icon-right bg-orange ion-person' "  ng-show="value2.manual != true && value2.ativa == true"    ng-click="gerarSenha(value2, key2)" >
              Gerar Senha {{retornaNome(value2.nome)}}
            </button>
            <div class=" item-input-inset" ng-show="value2.manual == true && value2.ativa == true">
              <label class="item-input-wrapper">

                <input type="text" placeholder="Gerar Senha Manual" ng-model="senhamanual">
              </label>
              <button class="button bg-orange button-small" ng-click="gerarSenhaManual(value2, key2, senhamanual)" >
                {{retornaNome(3)}}
              </button>
            </div>
          </div>
        </div>
        <br>
        <ion-item class="item-divider bg-orange item" id="painel-list-item-divider2" style="text-align:center;">Enviar Senha Para o Cliente?</ion-item>
        <br>
        <div class=" item-input-inset" >
          <label class="item-input-wrapper">
            <input type="text" placeholder="Digite o e-mail" id="busca" name="busca" ng-model="busca"  ng-keyup="buscarUsuarios(busca)">

          </label>
          <button class="button bg-orange button-small" ng-click="showMensageuser(busca)" >
            Buscar
          </button>
        </div>
        <!--<div class="list list-inset">
          <label class="item item-input">

            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Buscar por e-mail" id="busca" name="busca" ng-model="busca" ng-blur="showMensageuser(busca)" ng-keyup="buscarUsuarios(busca)">
          </label>
        </div>-->
        <div class="list" ng-repeat="(key, value) in  userToNotify">
          <a class="item bg-orange"  style="text-align:center;">
            <span >Cliente Encontrado</span>
          </a>
            <br>
            <input type="hidden" name="user_id" id="user_id" value="{{key}}">
            <a class="item bg-dark item-avatar item-button-right" >
               <img src="{{value.foto}}" ng-if="value.foto != null">
               <img src="img/user.png" ng-if="value.foto == null">
               <h2 class="colorwhite">{{value.nome}}</h2>
               <p>{{value.email}}</p>
               <button class="button bg-orange" style="margin-top: 1%;" ng-click="removeUser()">
                <i class="icon ion-minus"></i>
              </button>
             </a>
        </div>
        <div class="list" ng-if="showUserNotFind == true" >
          <a class="item bg-black" style="text-align:center;">
            <span >Cliente Não Encontrado</span>
          </a>
        </div>
      </div>
      <!--fim div estabelecimento-->
      <div class="cliente" ng-if="datauser.role==3" overflow-scroll="true" ng-show="conectDiv == true">
        <label class="item item-input bg-black" id="acompanharFilas-search1">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Filtrar" ng-model="filtro" id="filtro">
        </label>

        <button class="button button-full icon-right bg-orange" ng-click="gerarSenhasCategorias('t')">
          Todas
        </button>
        <button class="button button-full icon-right bg-orange"  ng-repeat="(key2, value2) in optCategorias | filter:filtro | orderBy:['categoria']" style="text-align:center;" ng-if="value2.categoria != undefined && value2.categoria != 'undefined'  && value2.categoria != ''" ng-click="gerarSenhasCategorias(value2.id)" >
         {{value2.categoria}}
        </button>
        <br>
        <br>
        <br>
        <br><br>
      </div>

      <div class="list card" ng-show="conectDiv == false">

        <div class="item item-body bg-black " >

          <h2 style="text-align:center;">
            Carregando... <br> Tentando conectar com a internet. Se esta ação estiver demorando, verifique a sua conexão com a internet.
        </h2>

        </div>

      </div>
      <br><br><br><br><br>
    </div>
    </ion-scroll>
  </ion-content>
</ion-view>
