<ion-view title="Vamos Começar!" class="bg-dark" id="page5" >
  <!--<ion-content padding="true" class="has-header">-->
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">

      <a ui-sref="signup" class="button bg-orange button-block">
        Cadastrar Como Cliente
      </a>

      <a ui-sref="signuptwo" class="button bg-orange button-block">
        Cadastrar Como Estabelecimento
      </a>
      <a ui-sref="login2" class="button bg-orange button-block">
        Já Tenho Cadastro
      </a>

      <br><br>
      <a ui-sref="termos" class="button button-clear button-light">
        <small>Termo de uso</small>
      </a>
    </form>

  </ion-content>
</ion-view>
