<ion-view id="page1">
  <ion-tabs class="tabs-red tabs-icon-top"  ng-controller="tabs1Controller" id="tabsController-tabs1">

    <ion-tab title="{{tituloPrimeiro}}" icon="{{tituloPrimeiroIco}}" href="#/page1/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{tituloSegundo}}" icon="{{tituloSegundoIco}}" href="#/page1/page10" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{tituloTerceiro}}" icon="{{tituloTerceiroIco}}" href="#/page1/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="{{tituloQuarto}}" icon="{{tituloQuartoIco}}" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>


  </ion-tabs>

<!--  <div class="tabs tabs-dark tabs-icon-top static">
            <a href="#/app/activity" ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a href="#/app/friends" ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a href="#/app/gallery" ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>-->
</ion-view>
